<ion-content>
<ion-card>
  <br>
 <ion-card-content>
   <ion-slides #myslider autoplay="1000" loop="true" speed="5000" pager="true" (ionSlidesDidLoad)="slideChanged(myslider)">
     <ion-slide>
       <img src="assets/l.jpg">
     </ion-slide>
     <ion-slide>
         <img src="assets/p.jpg">
     </ion-slide>
     <ion-slide>
         <img src="assets/mar.jpg">
   </ion-slide>
   <ion-slide>
       <img src="assets/lol.jpg">
 </ion-slide>
 <ion-slide>
    <img src="assets/luc.jpg">
</ion-slide>   
   </ion-slides>
 <ion-item><div> We provide you the best movie watching experience at the best rates.</div>
 
 </ion-item>
 <br>
 <br>
 </ion-card-content>
 </ion-card>
</ion-content>