ion-content{
    --background:#ff4f38;
}
ion-card-header{
    text-align:center;
    color: white;
    font-size: 23px;
    font-weight: 500;
}
p{
    text-align: center;
    color:white;
    font-size: 13px;
}
// ion-card{
    
    
//     --background-color:rgba(56, 129, 255, 0.123);
//  }
//  ion-input{
//     --background-color:rgba(56, 129, 255, 0.123);

//  }