<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-round-back" color="primary" style="font-size:40px;float: left;left: 0;margin:0"
      (click)="move()">
    </ion-icon>
    Movies
  </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="list" >
      
      <!-- <table >
          <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th> 
            <th>Image_url</th>
            <th>Production_house</th>
            <th>Rating</th>
            <th>Type</th>
            <th>Language</th>
            <th>Date</th>
            
  
          </thead> -->
          <!-- <table >
              <thead border="2"> 
                  <th>Id</th>
                  <th>Name</th>
                  <th>Year</th> 
                  <th>Image_url</th>
                  <th>Production_house</th>
                  <th>Rating</th>
                  <th>Type</th>
                  <th>Language</th>
                  <th>Date</th>
                  
        
                </thead> -->
            <div *ngFor="let movie of list"> 
          
              <ion-card>  <h4 class='five'>{{movie.name}}</h4><br>
               <img class='three'src={{movie.image_url}}>
          
            <span class='four'>Year:{{movie.year}}</span><br>
           
            <span class='four'>Production House:{{movie.production_house}}</span><br>
            <span class='four'>Rating:{{movie.rating}}</span><br>
            <span class='four'>Type:{{movie.type}}</span><br>
            <span class='four'>Language:{{movie.language}}</span><br><br>
            <span class='four'>Movie-date:{{movie.date}}</span><br>
            <span><input type="button" name="edit" value="book" (click)="onSelect(movie)"></span>
        
        </ion-card>
              <!-- <span>{{movie.id}}</span> -->
              
          
              
    <!-- <button (click)="deleteMovie(movie)">delete</button> -->
                <!-- <td width="15%"><input type="button" name="edit" value="edit" (click)="editStudent(student)"> -->
    
              
            </div>
          <!-- </tbody>
  </table><hr> --><hr><hr>
  
  
  </div>
  <!-- <input type="text" value="Add Movies" name="add" routerLink="/addmovie"> -->
  <ion-button color="danger" routerLink="/offer">View offers!</ion-button>
</ion-content>