// div{
//     width: 100%;
// }
span{
    width: 10%;
    height: 5%;
    text-align: center;
    font-size: 15px;
    color:red;
}
img{
    width:100%;
}
h1{text-align: center;}

.three{
    width:50%;
    height:50%;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
   
}
.four{
    color: antiquewhite;
}
ion-card {
    background-color:#ff4f38;
}

.five{
    color: antiquewhite; 
}