<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-round-back" color="primary" style="font-size:40px;float: left;left: 0;margin:0"
      (click)="move()">
    </ion-icon>
    View offers
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
    <ion-card-subtitle class="one"> Gillette offer </ion-card-subtitle>
    <ion-card-content>
      <div>
      <ion-img class="three" src="/assets/movieoffer1.jpg"></ion-img>
      <p class="four">Take this survey and get 2 movie tickets for free!</p>
     </div>
   <ion-button color="light" size="small">Add offer</ion-button>
  </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-subtitle class="one"> Paytm offer </ion-card-subtitle>
      <ion-card-content>
        <div>
        <ion-img class="three" src="/assets/movieoffer2.jpg"></ion-img>
        <p class="four">Pay using paytm and get 20% cashback upto Rs 125</p>
       </div>
     <ion-button color="light" size="small">Add offer</ion-button>
    </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-subtitle class="one"> Combo offer </ion-card-subtitle>
        <ion-card-content>
          <div>
          <ion-img class="three" src="/assets/movieoffer5.jpg"></ion-img>
          <p class="four"> Now book your food combo and get Rs 75 off</p>
          
          </div>
       <ion-button color="light" size="small">Add offer</ion-button>
       
      </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-subtitle class="one"> Yesbank offer </ion-card-subtitle>
          <ion-card-content>
            <div>
            <ion-img class="three" src="/assets/movieoffer3.jpg"></ion-img>
            <p class="four">Pay with yesbank credit and debit cards to get 30% off on buying 4 movie tickets</p>
           </div>
         <ion-button color="light" size="small">Add offer</ion-button>
        </ion-card-content>
          </ion-card>
    
    <!-- <ion-button (click)='cameraOp()'>Camera</ion-button> -->
      </ion-content>



