.one{
    margin-left: 10px;
    margin-top: 10px;
    color: whitesmoke;
}

.three{
    width:50%;
    height:50%;
    float:left;
    margin-left: 0px;
   
}
ion-card {
    background-color:#ff4f38;
}
.four{
    color: antiquewhite;
}