ion-card{
    text-align: center;
    height:30%;
  margin:80px 50px;
  padding:50px;
  font-size:23px;
  --background:rgba(255, 0, 0, 0.534);
  color:white;
   
}
ion-button{
    text-align: center;
    position: relative;
    margin-left: 120px;
}
ion-content{
  --background:#ff4f38;
}