ion-card{
    text-align: center;
    height:30%;
  margin:80px 50px;
  padding:50px;
  font-size:23px;
  --background: url('/assets/back1.png');
  color:white;
   
}
ion-button{
    text-align: center;
    position: relative;
    margin-left: 120px;
}
ion-content{
  --background: url('/assets/back1.png');
}

ion-toolbar{
   
  --background: url('/assets/back1.png');
  font-size: 30px;
  color:#ff4f38c0;
  font-style: italic;
  text-align: center;
}