.one{
    color: antiquewhite;
}
ion-content{
    --background: url('/assets/back1.png');
}

ion-toolbar{
   
    --background: url('/assets/back1.png');
    font-size: 30px;
    color:#ff4f38c0;
    font-style: italic;
    text-align: center;
}