// ion-card{
//     width: 90%;
// }
ion-content{
    --background: url('/assets/back1.png');
}
input[type="text"]{
    width:70%;
    margin-left:38px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    }

    ion-button{
        width: 80%;
        margin-left:20px;
       --background: #ff4f38c0;
        color:white;
        
    }
    ion-card-header{
        color:#ff4f38c0 ;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }

    .one{
        margin-left: 40px;
        background-color:#ff4f38c0;
    }
    ion-toolbar{
        --background: url('/assets/back1.png');
        font-size: 30px;
        color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }