
ion-content{
    --background: navy;
    --background-size: cover;
    --background-position: center;
    --background-repeat: no-repeat;
}

// ion-img{
// margin-top: 200px;
// }
ion-toolbar{
    --background:red;  
} 
ion-card{
    --background:white;
}
.a{
    width:30%;
}
.image h1{
    color:white;
}
ion-toolbar{
    --background:red;
    color:white;  
}
ion-footer{
    
    color:white;
} 
ion-footer>div{
    width:33%;
    display:inline-block;
    --background:rgb(109, 109, 241);
    color:white;
}