ion-card{
width:100%;

}
.three{
    width:50%;
    height:50%;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
   
}
.four{
    color: antiquewhite;
}
ion-card {
    background-color:#ff4f38;
    
    margin:0;
}

.five{
margin:0;
}

.six{
    color: antiquewhite;
    font-size:150%;   
}

