<!-- <ion-content>
 
  <ion-card >
    
    <input type="number" placeholder="customer id" [(ngModel)]="booking.customer_id"><br><br>
    <input type="number" placeholder="tickets" [(ngModel)]="booking.tickets"><br><br>
    <input type="number" placeholder="movie id" [(ngModel)]="booking.movie_id"><br><br>
    <input type="text" placeholder="movie name" [(ngModel)]="booking.movie_name"><br><br>
    <input type="text" placeholder="movie time" [(ngModel)]="booking.movie_time"><br><br>
    <input type="text" placeholder="theater" [(ngModel)]="booking.theatre"><br><br>
    <input type="text" placeholder="screen" [(ngModel)]="booking.screen"><br><br>
    <input type="text" placeholder="city" [(ngModel)]="booking.city"><br><br>
    <input type="date" placeholder="movie date" [(ngModel)]="booking.movie_date"><br><br>
    <input type="date" placeholder="date" [(ngModel)]="booking.date"><br><br>
    <input type="number" placeholder="amount" [(ngModel)]="booking.amount"><br><br>
    <input type="number" placeholder="ticket price" [(ngModel)]="booking.ticket_price"><br><br><br>
  <input type="button" (click)="addBooking(booking)" value="Book movie!">
 
</ion-card>
</ion-content> -->
<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-round-back" color="primary" style="font-size:40px;float: left;left: 0;margin:0"
      (click)="move()">
    </ion-icon>
    Book a movie
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
     <ion-card-header class='six'>{{movie.name}}</ion-card-header><br>
     <div class="container">
       <div id="image">
         <ion-img class='three' src={{movie.image_url}}></ion-img>
        </div>
 
<div id="lab">  
 Year:<span class='four'>{{movie.year}}</span><br>
Production House:<span class='four'>{{movie.production_house}}</span><br>
 Rating:<span class='four'>{{movie.rating}}</span><br>
Type:<span class='four'>{{movie.type}}</span><br>
Language: <span class='four'>{{movie.language}}</span><br>
Movie-date:<span class='four'>{{movie.date}}</span><br>
</div>
</div>
  </ion-card>

<ion-card class='five'>
 <ion-card-header class='four'>Booking Information</ion-card-header>
     <!-- <input type="number" placeholder="customer id" [(ngModel)]="customer.id"><br> -->
<ion-item><ion-input type="number" placeholder="tickets" [(ngModel)]="booking.tickets"></ion-input></ion-item> <br>
<ion-item><ion-input type="number" placeholder="movie id" [(ngModel)]="movie.id"></ion-input></ion-item><br>
<ion-item><ion-input type="text" placeholder="movie name" [(ngModel)]="movie.name"></ion-input></ion-item><br>
<ion-item><ion-input type="text" placeholder="movie time" [(ngModel)]="booking.movie_time"></ion-input></ion-item><br>
<ion-item><ion-input type="text" placeholder="theater" [(ngModel)]="booking.theatre"></ion-input></ion-item><br>
<ion-item><ion-input type="text" placeholder="screen" [(ngModel)]="booking.screen"></ion-input></ion-item><br>
<ion-item><ion-input type="text" placeholder="city" [(ngModel)]="booking.city"></ion-input></ion-item><br>
<ion-item><ion-input type="date" placeholder="movie date" [(ngModel)]="booking.movie_date"></ion-input></ion-item><br>
<ion-item><ion-input type="date" placeholder="date" [(ngModel)]="booking.date"></ion-input></ion-item><br>
<ion-item><ion-input type="number" placeholder="ticket price" [(ngModel)]="booking.ticket_price"></ion-input></ion-item><br>
<!-- <ion-item><ion-input type="number" placeholder="amount" [(ngModel)]="booking.amount"></ion-input></ion-item><br> -->
</ion-card>
<ion-button expand="block" (click)="addBookings(booking)"  name="booking">Book</ion-button>

<!-- <ion-item>
  <ion-label>Choose your payment option</ion-label>
  <ion-select multiple="true" cancelText="Nah" okText="Okay!">
    <ion-select-option value="ICICI " img class="a" src="assets/pay2.jpg"> ICICI</ion-select-option>
    <ion-select-option value="SBI" img class="a" src="assets/pay3.jpg">SBI</ion-select-option>
    <ion-select-option value="HDFC" img class="a" src="assets/pay4.jpg">HDFC</ion-select-option>
    
   
  </ion-select>
</ion-item> -->

</ion-content>