ion-card{
width:100%;

}
.three{
    width:50%;
    height:50%;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
   
}
.four{
    color: #ff4f38c0;
}
ion-card {
    // background-color:#ff4f38;
    --background: url('/assets/back1.png');
    margin:0;
}

.five{
margin:0;
}

.six{
    color: #ff4f38c0;
    font-size:150%;   
}
ion-toolbar{
    // --background:#ff4f388c;
    --background: url('/assets/back1.png');
    font-size: 30px;
    color:#ff4f38c0;
    font-family: italic;
    text-align: center;
}
ion-content{
    --background: url('/assets/back1.png');
}
ion-button{
    margin-left:20px;
    width: 80%;
   --background: #ff4f38c0;
    color:white;
    
}

