ion-content{
    --background: url('/assets/back1.png');
}
ion-card{
    // width:90%;
    margin-top: 30px;
}


input{
width:80%;
margin-left:40px;
padding-bottom: 30px;
margin-bottom: 20px;
font-size:15px;
}
input::placeholder{
    text-align: center;
    
}
ion-card-header{
    color:#ff4f38c0;
    font-size: 30px;
    font-weight:500;
    text-align: center;
}
// input[type="button"]
// {
//     background:#ff4f38c0;
//     color:white;
// }
ion-toolbar{
    --background: url('/assets/back1.png');
    font-size: 30px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
ion-button{
    --background: #ff4f38c0;
    color:white;
}